@import '~bootstrap';

body {
    background-color: #ff5757;
    margin: 0 0 0 0 px;
}

.font-large1 {
    font-size: 50px;
}

.large-font-family {
    font-family: Segoe Print, Segoe Script, Verdana, Arial, Tahoma, Serif;
}

